body{
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/6d/cf/03/6dcf03f7d94bad8b2eda03c4e1157000.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}