header{
    display:flex;
    height: 75px;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
}

a{
    text-decoration: none;
}

nav a{
    padding: 20px;

}

nav a:hover{

    color: rgb(0, 136, 255);
    border: 3px solid yellow;
}
a h1:hover{
    border: 3px solid yellow;
}
