body {
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/1e/67/39/1e673928fc0f5911d42826879baf20fe.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}