body {
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/b6/68/f0/b668f0f7ea9714cec1e53275cf4fadee.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}