body {
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/originals/b3/61/a6/b361a6b804f3a48693bae4c607bcfec1.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}